<%- include('./header.ejs') %>

<body>
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Manage <b>User</b></h2>
                    </div>
                    <div class="col-sm-6">
                        <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal" action=""><i
                                class="material-icons">&#xE147;</i> <span>Add New User</span></a>
                        <a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal"><i
                                class="material-icons">&#xE15C;</i> <span>Delete</span></a>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Password</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach(function(ele){ %>
                    <tr>
                        <td><%= ele.id %></td>
                        <td><%= ele.account_name %></td>
                        <td><%= ele.email %></td>
                        <td><%= ele.password %></td>
                        <td>
                            <a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons"
                                    data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                            <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons"
                                    data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                        </td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Add Modal HTML -->

    <%- include('./addModal.ejs')  %>
    </div>
    <!-- Edit Modal HTML -->
    <% user = {} %>
    <%- include('./editModal.ejs') %>
    <!-- Delete Modal HTML -->
    <%# include('./layouts/deleteModal.ejs')  -%>

</body>

</html>